html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


/* TYPO */
.typo{
    height: 100%;
    width: 100%;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    text-align: justify;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.playfair-display-container{
    height: 60%;
    width: 50%;
    background-color: white;
    padding: 2em;
    font-family: 'Playfair Display', serif;
    border-radius: 20px;
}

h1{
    font-size: 36px;
}

.typo-indications{
    font-family: Open Sans;
    font-size: 12px;
    color: grey;
}

.playfair-display-typo{
    font-size: 20px;
    font-weight: normal;
}
.playfair-display-typo-bold{
    font-size: 20px;
    font-weight: 900;
}

.arvo-container{
    height: 60%;
    width: 20%;
    background-color: white;
    padding: 2em;
    font-family: 'Arvo', serif;
    border-radius: 20px;
}
.h1-arvo{
    font-size: 62px;
}
.arvo-typo{
    font-size: 20px;
}
.arvo-typo-bold{
    font-size: 20px;
    font-weight: 900;
}





/* .arvo-typo{
    font-family: 'Arvo', serif;
    font-size: 40px;
} */


/* END */

/* COLORS */
.colors {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gridContainer {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 50px -23px rgba(0,0,0,0.75);
}

.textColor {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252525;
  text-align: center;
  color: white;
}

.firstColor {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6930c3;
  text-align: center;
  color: white;
}

.secondColor {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #64dfdf;
  text-align: center;
  color: white;
}

.thirdColor {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #80ffdb;
  text-align: center;
  color: white;
}

/* END */

/* CARD */

.coucoutoi {
  width: 100%;
  height: 100%;
}

.Cards {
  width: 100%;
  height: 50rem;
  background-color: #f1f1f1;
  margin-bottom: 20px;
  border-radius: 20px;
}

.bgImage {
  object-fit: cover;
  width: 100%;
  height: 50%;
  border-radius: 20px 20px 0px 0px;
}

.imgProfil {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.informations>img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
  margin-top: -190px;
  
}

.informations {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.unbouton {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: #64dfdf;
  color: white;
  border: none;
  outline: none;
}

@media only screen and (min-width : 650px){
  
  .coucoutoi {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .Cards {
      width: 20rem;
      height: 50rem;

    }

    .bgImage {
      width: 100%;
    }
  }

/* END */

