html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


/* TYPO */
.typo{
    height: 100%;
    width: 100%;
    background-color:white;
    display: flex;
    flex-direction: column;
    text-align: justify;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }
  
  .playfair-display-container{
    height: 57%;
    width: 40%;
    background-color: white;
    padding: 3em;
    font-family: 'Playfair Display', serif;
    border-radius: 20px;
    box-shadow: 0px 0px 50px -23px rgba(0,0,0,0.75);
}

h1{
    font-size: 36px;
    line-height: 10px;
}

.typo-indications{
    font-family: Open Sans;
    font-size: 12px;
    color: grey;
}

.playfair-display-typo{
    font-size: 20px;
    font-weight: normal;
}
.playfair-display-typo-bold{
    font-size: 20px;
    font-weight: 900;
}

.arvo-container{
    height: 60%;
    width: 20%;
    background-color: white;
    padding: 2em;
    font-family: 'Arvo', serif;
    border-radius: 20px;
}
.h1-arvo{
    font-size: 62px;
}
.arvo-typo{
    font-size: 20px;
}
.arvo-typo-bold{
    font-size: 20px;
    font-weight: 900;
}
h3{
  font-weight: normal;
}
.paragraph{
  font-family: Open Sans;
  font-size: 14px;
}

/* END */

/* COLORS */
.colors {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gridContainer {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 50px -23px rgba(0,0,0,0.75);
}

.textColor {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252525;
  text-align: center;
  color: white;
}

.firstColor {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6930c3;
  text-align: center;
  color: white;
}

.secondColor {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #64dfdf;
  text-align: center;
  color: white;
}

.thirdColor {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #80ffdb;
  text-align: center;
  color: white;
}

/* END */

/* CARD */

.coucoutoi {
  width: 100%;
  height: 100%;
}

.Cards {
  width: 100%;
  height: 50rem;
  background-color: #f1f1f1;
  margin-bottom: 20px;
  border-radius: 20px;
}

.bgImage {
  object-fit: cover;
  width: 100%;
  height: 50%;
  border-radius: 20px 20px 0px 0px;
}

.imgProfil {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.informations>img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
  margin-top: -190px;
  
}

.informations {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.unbouton {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: #64dfdf;
  color: white;
  border: none;
  outline: none;
}

@media only screen and (min-width : 650px){
  
  .coucoutoi {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .Cards {
      width: 20rem;
      height: 50rem;

    }

    .bgImage {
      width: 100%;
    }
  }

/* END */

/* BUTTONS */

.buttons {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
 
}

.buttons-container{
  height: 6%;
  width: 50%;
  /* background-color:rgb(226, 227, 253); */
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between ;
  padding-bottom: 3em;
}

.button-one{
  background-color: #252525;
  color: white;
  border: none;
  padding: 15px 32px;
  display: inline-block;
  border-radius: 20px;
  cursor: pointer;
}
.button-one:hover {
  background-color:white;
  color: #252525;
  border: 2px solid #252525;
}

.button-two{
  background-color: #6930c3;
  color: white;
  border: none;
  padding: 15px 32px;
  display: inline-block;
  border-radius: 20px;
  cursor: pointer;
}
.button-two:hover {
  background-color:white;
  color: #252525;
  border: 2px solid #6930c3;
}

.button-three{
  background-color: #64dfdf;
  color: white;
  border: none;
  padding: 15px 32px;
  display: inline-block;
  border-radius: 20px;
  cursor: pointer;
}
.button-three:hover {
  background-color:white;
  color: #252525;
  border: 2px solid #64dfdf;
}

.button-four{
  background-color: #80ffdb;
  color: #252525;
  border: none;
  padding: 15px 32px;
  display: inline-block;
  border-radius: 20px;
  cursor: pointer;
}
.button-four:hover {
  background-color:white;
  color: #252525;
  border: 2px solid #80ffdb;
}

.buttons-container-reversed{
  height: 6%;
  width: 50%;
  /* background-color:rgb(248, 229, 248); */
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between ;
  padding-bottom: 3em;
}
.button-reversed-one{
  background-color: white;
  border: 2px solid #252525;
  color: #252525;
  padding: 15px 32px;
  display: inline-block;
  border-radius: 20px;
  cursor: pointer;
}
.button-reversed-one:hover {
  background-color:#252525;
  color: white;
}

.button-reversed-two{
  background-color: white;
  border: 2px solid #6930c3;
  color: #252525;
  padding: 15px 32px;
  display: inline-block;
  border-radius: 20px;
  cursor: pointer;
}
.button-reversed-two:hover {
  background-color:#6930c3;
  color: white;
}

.button-reversed-three{
  background-color: white;
  border: 2px solid  #64dfdf;
  color: #252525;
  padding: 15px 32px;
  display: inline-block;
  border-radius: 20px;
  cursor: pointer;
}
.button-reversed-three:hover {
  background-color:#64dfdf;
  color: white;
}

.button-reversed-four{
  color: #252525;
  background-color: white;
  border: 2px solid  #80ffdb;
  padding: 15px 32px;
  display: inline-block;
  border-radius: 20px;
  cursor: pointer;
}
.button-reversed-four:hover {
  background-color:#80ffdb;
  color: #252525;
}

/* END */

/* NAV BAR */

.nav-bar{
  width: 100%;
  height: 60%;
  /* background-color:violet; */
}
nav{
  background: #6930c3;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  font-family: Open Sans;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px ;
  padding-left: 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li{
display: inline-block;
line-height: 40px;
margin: 0 35px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 10px 13px;
  border-radius: 15px;
  text-decoration: none;
}

a.active,a:hover{
background: #884aec;
transition: .5s;
}
.check-button{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 15px;
  }
}

@media (max-width: 858px){
  .check-button{
    display: block;
  }
  ul{
    /* position: fixed; */
    width: 100%;
    height: 12em;
    top: 80px;
    background: rgb(63, 63, 63);
    margin-right: 40px;
    text-align: center;
    margin: 0 ;
  
  }
  nav ul li{
    display: block;
  }
}


.nav2{
  background: #64dfdf;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  font-family: Open Sans;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px ;
  padding-left: 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li{
display: inline-block;
line-height: 40px;
margin: 0 35px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 10px 13px;
  border-radius: 15px;
  text-decoration: none;
}

a.active2,a:hover{
background: #40cece;
transition: .5s;
}
.check-button{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 15px;
  }
}

@media (max-width: 858px){
  .check-button{
    display: block;
  }
  ul{
    width: 100%;
    height: 12em;
    top: 80px;
    background: rgb(63, 63, 63);
    margin-right: 40px;
    text-align: center;
    margin: 0 ;
  
  }
  nav ul li{
    display: block;
  }
}

/* END */
